@page "/employees"
@using AutoMapper
@using CRUD_OPERATIONS.Components.Modals
@using CRUD_OPERATIONS.Components.Models
@using static CRUD_OPERATIONS.Components.Modals.AddEmployeeModal
@rendermode InteractiveServer
@inject IMapper mapper

<PageTitle>Employees</PageTitle>

<h1>Employees</h1>

<button class="btn btn-primary" @onclick="AddEmployee">Create new employee</button>

<AddEmployeeModal ShowModal="@showModal" IsUpdate="@isUpdate" OnAddEmployee="HandleAddEmployee" OnUpdateEmployee="HandleUpdateEmployee" EmployeeToUpdate="newEmployee" />

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>UserId</th>
                <th>EmployeeId</th>
                <th>Email</th>
                <th>Designation</th>
                <th>ReportingManager</th>
                <th>JoiningDate</th>
                <th>DateOfBirth</th>
                <th>DisplayName</th>
                <th>RoleId</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.UserId</td>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.Email</td>
                    <td>@employee.Designation</td>
                    <td>@employee.ReportingManager</td>
                    <td>@employee.JoiningDate</td>
                    <td>@employee.JoiningDate</td>
                    <td>@employee.DateOfBirth</td>
                    <td>@employee.DisplayName</td>
                    <td class="actions-icons">
                        <i class="fa-solid fa-pen" @onclick="() => UpdateEmployee(employee)"></i>
                        <i class="fa-solid fa-trash"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Employee>? employees;
    private int currentCount = 0;
    private bool showModal = false;
    private bool isUpdate = false;
    [Parameter] public Employee? newEmployee { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        employees = new List<Employee>();
        employees.Add(new Employee
        {
            UserId = Guid.NewGuid(),
            EmployeeId = Guid.NewGuid(),
            Email = "email_test@gmail.com",
            Designation = "designation_test",
            ReportingManager = "reporting_manager_test",
            JoiningDate = DateOnly.MaxValue,
            DateOfBirth = DateOnly.MaxValue,
            DisplayName = "name_test",
            RoleId = Guid.NewGuid()
        });
    }

    private void HandleAddEmployee(Employee data)
    {
        var employee = new Employee
            {
                UserId = Guid.NewGuid(),
                EmployeeId = Guid.NewGuid(),
                Email = data.Email,
                Designation = data.Designation,
                ReportingManager = data.ReportingManager,
                JoiningDate = data.JoiningDate,
                DateOfBirth = data.DateOfBirth,
                DisplayName = data.DisplayName,
                RoleId = Guid.NewGuid()
            };

        employees?.Add(employee);
        HideModal();
    }

    private void HideModal()
    {
        showModal = false;
    }

    private void AddEmployee()
    {
        showModal = true;
        isUpdate = false;
    }

    private void UpdateEmployee(Employee employee)
    {
        showModal = true;
        isUpdate = true;
        // newEmployee = mapper.Map<Employee>(employee);
        newEmployee = employee;
    }

    private void HandleUpdateEmployee(Employee data)
    {

        var index = employees.FindIndex(x => x.UserId == data.UserId);

        if (index != -1)
        {
            employees[index].Email = data.Email;
            employees[index].Designation = data.Designation;
            employees[index].ReportingManager = data.ReportingManager;
            employees[index].JoiningDate = data.JoiningDate;
            employees[index].DateOfBirth = data.DateOfBirth;
            employees[index].DisplayName = data.DisplayName;
        }

        newEmployee = null;

        HideModal();
    }
}
